<!-- <h2>Edit <%= resource_name.to_s.humanize %></h2> -->

<h2 class="title">修改使用者資料</h2>

<%= form_for(resource, as: resource_name, url: registration_path(resource_name), html: { method: :put }) do |f| %>
  <%= render "devise/shared/error_messages", resource: resource %>

  <div class="field">
    <%= f.label :username, '使用者帳號' %><br />
    <%= f.text_field :username, class: 'input' %>
    <p class="help">範例：@ymp413</p>
  </div>

  <div class="field">
    <%= f.label :intro, '個人簡介' %><br />
    <%= f.text_area :intro, class: 'textarea', rows: 5 %>
  </div>

  <div class="field">
    <%= f.label :email %><br />
    <%= f.email_field :email, class: 'input' %>
  </div>

  <% if devise_mapping.confirmable? && resource.pending_reconfirmation? %>
    <div>Currently waiting confirmation for: <%= resource.unconfirmed_email %></div>
  <% end %>

  <div class="field">
    <%= f.label :password %> <i>(leave blank if you don't want to change it)</i><br />
    <%= f.password_field :password, autocomplete: "new-password", class: 'input' %>
    <% if @minimum_password_length %>
      <br />
      <em><%= @minimum_password_length %> characters minimum</em>
    <% end %>
  </div>

  <div class="field">
    <%= f.label :password_confirmation %><br />
    <%= f.password_field :password_confirmation, autocomplete: "new-password", class: 'input' %>
  </div>

  <div class="actions">
    <%= f.submit "更新", class: 'button is-primary' %>
  </div>
<% end %>

<%= link_to "Back", :back %>
