<div class="box">
  <article class="media">
    <div class="media-left">
      <figure class="image is-64x64">
        <img src="https://fakeimg.pl/128x128/?text=CCH" alt="Image">
      </figure>
    </div>
    <div class="media-content">
      <div class="content">
        <span><%= @payment_type %> (USD<%= @fee %>)</span>
        <p>
          Lorem ipsum dolor sit amet, consectetur adipiscing elit. Aenean efficitur sit amet massa fringilla egestas. Nullam condimentum luctus turpis.
        </p>
      </div>
      <%= form_with url: pay_users_path(type: params[:type]), id: 'pay_form', method: 'post', local: true do |form| %>
        <div id="dropin-container"></div>
        <input type="submit" class="button is-danger" value="付款"/>
        <%= link_to "重新選擇方案", pricing_users_path, class: 'button is-light' %> 
        <input type="hidden" id="nonce" name="payment_method_nonce"/>
      <% end %>
    </div>
  </article>
</div>

<script src="https://js.braintreegateway.com/web/dropin/1.27.0/js/dropin.min.js"></script>
<script src="https://js.braintreegateway.com/web/3.76.2/js/client.min.js"></script>
<script src="https://js.braintreegateway.com/web/3.76.2/js/data-collector.min.js"></script>
<script>
  document.addEventListener('turbolinks:load', function(event) {
    const form = document.getElementById('pay_form');

    braintree.dropin.create({
      container: document.getElementById('dropin-container'),
      authorization: '<%= @token %>',
      container: '#dropin-container',
      
    }, (error, dropinInstance) => {
      if (error) console.error(error);

      form.addEventListener('submit', event => {
        event.preventDefault();
        dropinInstance.requestPaymentMethod((error, payload) => {
          if (error) console.error(error);
          document.getElementById('nonce').value = payload.nonce;
          form.submit();
        });
      });
    });
  })
</script>